table.popup {
  background: #fff;
  font-family: 'Arial';
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
}

table.popup td {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	vertical-align: top;
}

span.caption {
	color: #383;
}

table.popup tr:nth-child(even) {
	background: #eee;
}

div.popup {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0px;
}

h3.popup {
	background: rgb(255, 165, 0);
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px; 
	height: auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-indent: 15px;
	color: #fff;
}